language: cpp

sudo: required

compiler: gcc

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure:    "UrOsqcHQ/dcq+TQ0GnzNzAsdX4YyuYx0y+uADdh0Gj9vxzr3BhX3osTgbBHZNJXn5qJ2NLG7ZYmOPUjBFoGa5FuQEk7SgHjNxyJss62VmjrJcMVRDgHb7MHvNdBoYnIaDBe9GJxHsPiEj79MBlzCFU96+SHF2YaNCN25I2GFl9E="

addons:
  coverity_scan:
    project:
      name: "osadalakmal/LRUCache"
    notification_email: osadalakmal@gmail.com
    build_command_prepend: "sudo apt-get update && sudo apt-get install libgtest-dev && cd /usr/src/gtest && sudo cmake . && sudo cmake --build . && sudo mv libg* /usr/local/lib/ && cd - && cmake ./"
    build_command:   "make"
    branch_pattern: master

script: 
  "make && ctest"
